body {
  height: 99vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: snow;
  background-color: rgb(28, 79, 173);
}

header {
  height: 10vh;
  text-align: center;
}

main {
  color: rgb(28, 79, 173);;
  background-color: snow;
}

h1 {
  margin: 1vh 0;
}

#login {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 10vh;
  color: black;
  width: 20vw;
  max-width: 250px;
  padding: 5vh 2vw;
  border-radius: 2px;
  background-color: snow;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}
